<div class="subtitle-bar">
  <div class="subtitle">
    <span id="view-sighting" class="view-link"><a class="view-anchor" href="/submit-admin">Sighting</a></span>
    •
    <span id="view-lighthouse" class="view-link"><a class="view-anchor" href="/submitl">Lighthouse</a></span>
    |
    <span class="view-link"><a class="view-anchor" href="/">Home</a></span>
  </div>

  <button id="loginBtn">Login</button>
</div>
<p id="submitAdminNotice" class="submit-auth-notice" hidden>
  Only administrators may submit. Please sign in with an authorized account to continue.
</p>
